<nav class="navbar navbar-expand-xxl bg-body-tertiary py-0">
    <div class="container-fluid g-0">
        <a class="navbar-brand  pt-0 pb-0" routerLink="">
            <img src="/assets/RastMobileBrand.jpg" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav   ">
                <li class="nav-item">
                    <a class="nav-link py-0 px-0" href="#">Hakkımızda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-0 px-0" href="#">Jüri - Yarışma Yazılımı</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-0 px-0" href="#">Word Ninja</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-0 px-0" href="#">Word Pyramids</a>
                </li>
                <li class="nav-item ">
                    <div class="d-flex nav-icons g-0">
                        <a class="icon" routerLink="">
                            <img src="/assets/youtube.jpg" alt="">
                        </a>
                        <a class="icon" routerLink="">
                            <img src="/assets/instagram.jpg" alt="">
                        </a>
                        <a class="icon" routerLink="">
                            <img src="/assets/behance.jpg" alt="">
                        </a>
                        <a class="icon" routerLink="">
                            <img src="/assets/linkedin.jpg" alt="">
                        </a>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</nav>