body{
    width: 100%;
    max-width: 1637px;
    height: 100%;
    max-height: 976px;
    border-radius: 22px;
    background-color: #FFFFFF;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}




